#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.who_we_are_container{
  padding: 40px;
}
.carousel {
  display: flex;
  max-width: 92vw;
  gap: 20px;
  padding: 10px 0px;
}
.carousel img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.section1{
  width: 145.14px;
  height:145.14px;
  border-radius:12px;
}