:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.heading1{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.heading2{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:20px;
  letter-spacing: -2%;
  line-height:110%;
color: black;


}
.paragraph1{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:17px;
  letter-spacing: -2.5%;
  line-height:140%;
  color : black;
}
.heading3{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size:20px;
  letter-spacing: -2%;
  line-height:110%;
color: black;
}
.caption1{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size:14px;
  letter-spacing: 2%;
  line-height:140%;
  color:black;
}
.display1{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:30px;
  letter-spacing: -2.5%;
  line-height:140%;
}
.caption2{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size:18px;
  letter-spacing: 0%;
  line-height:140%;
  color:black;
}
.heading4{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size:16px;
  letter-spacing: -2%;
  line-height:110%;
}

.Accent1{
  color: #0248aa;
}
.accent2{
  color: #496D4A;

}
.accent3{
  color: #d3712c;
  

}
.accent4{
  color: #772E9B;
}
.Accent5{
  color: #ffc800;
}
Accent6{
  color: #0000;
}
.Accent7{
  color: #f7f7f7;}
.divider{
  color: #595959;
}
.link{
  color: #2c2825;
 
}
.botton_danger{
  background-color: #ffc800;
padding:8px 10px 16px
}
@media screen and (max-width: 800px) and (min-width: 1199px) {
  .heading1{
    font-size: 45px;
    .heading1{
      font-size: 36px;
    }
    .heading2{
      font-size:16px;
    }
    .paragraph1{
      font-size:16px;
    }
    heading3{
      font-size:12px;
    }
    .caption1{
      font-size:14px;
    } 
  }
}
@media screen and (ma-width: 799px) {
  .heading1{
    font-size: 36px; }
    .heading2{
      font-size:24px;
    }
    .paragraph1{
      font-size:16px;
    }
    heading3{
      font-size:12px;
    }
    .caption1{
      font-size:14px;
    } 
  }
